.all{
    margin-top: 10px;
}

@media screen and{ (max-width:576px;)
    #left-card{
        grid-template-columns: repeat(1, 1fr);
    }
    #card-head{
        grid-template-columns: repeat(1, 1fr);
    }
}
 
